# Ignore the virtual environment
venv/
.venv/

# Ignore local datasets and logs (they are usually too large for GitHub)
workspace/
dataset/
dataset_256/
aligned/
decoded_frames/
decoded_frames_jpg/
staging/
logs/
debug_vis/
debug_alignment/
debug_interpolation/
workspace_04-04/
workspace_05-03/

# Ignore Python cache files
__pycache__/
*.py[cod]
